<head>
<link rel="stylesheet" href="{{ asset('login.css') }}">
</head>
<body>
<div id =blocLog>
    <img src="../android.png" alt="Photo walibi" />
    <div class="login">
    <h3>Sign in</h3>
        {{ form(form) }}
    </div>
</div>
</body>