<head>
<link rel="stylesheet" href="{{ asset('login.css') }}">
</head>
<<<<<<< HEAD
<body>
<div id =blocLog>
    <img src="../android.png" alt="Photo walibi" />
    <div class="login">
    <h3>Sign in</h3>
        {{ form(form) }}
    </div>
</div>
</body>
=======

<div class="login">
<h3>Sign in</h3>
    {{ form(form) }}
</div>
>>>>>>> 07b5948416bc1af071a41d751a51b9657b8cb4ee
