html {
    background-color: #F5F5F5;
}

#blocLog {
    width : 370px;

    margin: auto;
    margin-top: 10vh;
}

.login {
    padding  : 20px;
    border-style: solid;
    box-shadow: 8px 8px 0px #aaa;
}

label {
    display: inline-block;
    width : 150px;
}